<div class="howls-wrapper">
  <div class="howl">
    <div class="howl-head">
      <p class="user-name"><%= howl.user.doggo_name %></p>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag howl.image.url(:medium), class: 'img-responsive'), howl_path(howl) %>
    </div>
    <div class="howl-bottom">
      <p class="caption"><span class="user-name"><%= howl.user.doggo_name %></span> <%= howl.caption %></p>
      <p class="human_name">My human: <%= howl.user.human_name %></p>
      <div id="barkbacks_<%=howl.id%>">
        <% if howl.barkbacks %>
          <%= render howl.barkbacks, howl: howl %>
        <% end %>
      </div>
      <div class="barkback-like-form row">
        <div class="like-button col-sm-1">
          <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        <div class="barkback-form col-sm-11">
          <%= form_for([howl, howl.barkbacks.build], remote: true) do |f| %>
            <%= f.text_field :content, placeholder: 'Bark back at them..!', class: "barkback_content", id: "barkback_content_#{howl.id}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
