<div class="howls-wrapper">
  <div class="howl">
    <div class="howl-head">
      <div class="doggo-name">
        <%= link_to howl.user.doggo_name, profile_path(howl.user.doggo_name) %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words howl.created_at %>
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag howl.image.url(:medium), class: 'img-responsive'), howl_path(howl) %>
    </div>
    <div class="howl-bottom">
      <%= render 'howls/loves', howl: howl %>
      <p class="caption"><span class="doggo-name"><%= link_to howl.user.doggo_name, profile_path(howl.user.doggo_name) %></span> <%= howl.caption %></p>
      <p class="human_name">My human: <%= howl.user.human_name %></p>
      <div class="barkbacks" id="barkbacks_<%=howl.id%>">
        <% if howl.barkbacks.any? %>
          <%= render howl.barkbacks.first(4), howl: howl %>
          <% unless howl.barkbacks.count <= 4 %>
            <div class="paginator" id="barkbacks-paginator-<%=howl.id%>">
              <%= link_to "view all #{howl.barkbacks.count} bark-backs", howl_barkbacks_path(howl), remote: true, class: "moar-barkbacks", id: "moar_barkbacks_#{howl.id}", data: {howl_id: "#{howl.id}", type: "html", value: "#{howl.barkbacks.count}"} %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="barkback-love-form row">
        <div class="love-button col-sm-1">
          <%= link_to '', howl.voted_on_by?(current_user) ? unlove_howl_path(howl.id) : love_howl_path(howl.id), remote: true, id: "love_#{howl.id}", class: "love glyphicon #{loved_howl howl}" %>
        </div>
        <div class="barkback-form col-sm-11">
          <%= form_for([howl, howl.barkbacks.build]) do |f| %>
            <%= f.text_field :content, placeholder: 'Bark back at them..!', class: "barkback_content", id: "barkback_content_#{howl.id}" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="overlap overlap-wrapper text-center">
      <div class="text">
      <%= form_for([howl, howl.scents.build], remote: true) do |f| %>
        <%= f.label :scent, "Sniff..sniff.." %>
        <%= f.select :stench, Scent.stenches.keys.map { |s| [s.humanize, s] }, class: '' %>
        <%= f.hidden_field :howl_id, :value => howl.id %>
        <%= f.submit "SNIFF", class: 'btn btn-sm btn-primary' %>
      <% end %><br>
      <span>Average Sniff Test Rating:<br> <%= sniff_test(howl).humanize %></span>
      </div>
    </div>
  </div>
</div>
