<div class="" id="barkback">
  <p class="barkback-content"><span class="doggo-name"><%= link_to barkback.user.doggo_name, profile_path(barkback.user.doggo_name) %></span> <%= barkback.content %></p>
  <% if barkback.user == current_user %>
    <%= link_to howl_barkback_path(howl, barkback), method: :delete, data: { confirm: "Muzzle this barkback? Are you sure?" }, remote: true do %>
      <span class="glyphicon glyphicon-remove delete-barkback-icon"></span>
    <% end %>
  <% else %>
    <%= link_to '', barkback.voted_on_by?(current_user) ? unlove_barkback_path(barkback.id) : love_barkback_path(barkback.id), remote: true, id: "love_#{barkback.id}", class: "love love-barkback-icon glyphicon #{loved_barkback barkback}" %>
  <% end %>
</div>


<script id="barkback-template" type="text/x-handlebars-template">
  <div class="barkbacks" id="barkbacks_<%= howl.id %>">
    <div class="" id="barkback">
      <p class="barkback-content"><span class="doggo-name"><a href="/<%= barkback.user.doggo_name %>"><%= barkback.user.doggo_name %></a></span> {{content}}</p>
      <a data-confirm="Muzzle this barkback? Are you sure?" data-remote="true" rel="nofollow" data-method="delete" href="/howls/<%= howl.id %>/barkbacks/{{id}}">
        <span class="glyphicon glyphicon-remove delete-barkback-icon"></span>
      </a>
    </div>
  </div>
</script>
